.cards{
    perspective: 500px;
}

.card{
    background: url('https://lh3.googleusercontent.com/NN3tDiX_a5E5F2nNyKKoUWntVdjci2KpB1uXs01TpzB5SchbeCEaaHpMakckpd-VWXGyHn4UTolOBH697m0N9t-utWDrfTg0g5aVOkFZjXpBmUlnTY95ljFILBGoWZH7rK-cNFX7DA=s200-p-k') 
    center no-repeat;
    background-size: cover;
    border: 2px solid 
    rgba(255, 255, 255, .25);
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
}

.card:hover{
    transform: translateZ(10px)
    rotateX(20deg) rotateY(30deg);
}
