:root {
    --color-default: rgba(0, 0, 0, 0.8);
    --color-dim: rgb(155, 155, 155);
    --color-highlight: rgba(0, 0, 0, 1);
    --color-hidden: rgba(0, 0, 0, 0);
    --color-underline: rgba(0, 0, 0, 0.3);
    --font-header-size: 1.2rem;
    --font-default-size: 0.95rem;
    --font-weight-default: 420
}

html {
    background-color: white;
    text-rendering: auto;
}

body {
    font-family: 'Open Sans';
    padding: 50px;
}

h1 {
    color: var(--color-default);
    font-size: var(--font-header-size);
    font-weight: 650;
    letter-spacing: .01em;
    margin: 0 0 12px
}

h2 {
    color: var(--color-dim);
    line-height: 1.6;
    font-size: var(--font-default-size);
    font-weight: 520;
    margin: 0
}

img {
    height: 250px;
    max-width: 100%;
    padding-bottom: 20px
}

header {
    float: left;
    position: fixed;
    width: 220px
}

header p {
    font-size: var(--font-default-size);
    font-weight: var(--font-weight-default);
    line-height: 1
}

header a {
    text-decoration: none
}

header p a {
    color: var(--color-default);
    text-decoration: underline;
    text-decoration-color: var(--color-hidden);
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2.5px
}

header p a:hover {
    text-decoration-color: var(--color-default);
    transition: all 400ms;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms
}

p {
    margin: 0 0 20px
}

.container {
    color: var(--color-default);
    float: right;
    font-size: var(--font-default-size);
    font-weight: var(--font-weight-default);
    letter-spacing: -.15px;
    line-height: 1.75;
    padding-bottom: 50px;
    padding-right: 25px;
    width: 600px
}

.container a {
    color: var(--color-default);
    text-decoration: underline;
    text-decoration-color: var(--color-underline);
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2.5px
}

.container a:hover {
    text-decoration-color: var(--color-default);
    transition: all 400ms;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms
}

.wrapper {
    margin: 0 auto;
    width: 870px
}

@media print, screen and (max-width: 960px) {
    body {
        padding:40px
    }

    .wrapper {
        margin: 0;
        width: auto
    }

    footer, header, .container {
        float: none;
        position: static;
        width: auto
    }

    header {
        padding-right: 320px
    }

    .container {
        border: 1px solid var(--color-dim);
        border-width: 1px 0;
        margin: 0 0 20px;
        max-width: 500px;
        padding: 20px 0
    }

    img {
        height: 225px
    }

    ul {
        list-style-position: inside;
        padding-left: 0
    }
}

@media print,screen and (max-width: 720px) {
    body {
        word-wrap:break-word
    }

    header {
        padding: 0
    }

    header p {
        position: static
    }
}

@media print,screen and (max-width: 480px) {
    body {
        padding:15px
    }
}
